.filter_accord_container {
    display: flex;
    flex-direction: column;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
    user-select: none;
}

.summary::marker {
    content: '';
}

.summary span:first-child {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.right {
    display: flex;
    align-items: flex-start;
    transition: transform 0.2s ease-out;
}

details[open] .right{
    transform: rotate(180deg);
    align-items: end;
}

.unselect_all_btn {
    margin-top: 22px;
    margin-bottom: 12px;
    background-color: unset;
    border: unset;
    text-decoration: underline;
    color: #888792;
    font-size: 14px;
}

.filter_accord_container input[type='checkbox'] {
    margin: 10px 0px;
}