.nav {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    padding: 36px 96px;
    justify-content: space-between;
}
 .main span {
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 224px;
 }


.action_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.action_container button {
    display: flex;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    outline: none;
    border: none;
    background-color: unset;
}

.action_container select {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
    background: url('../../../assets/down-arrow.svg');
	background-repeat:no-repeat;
	padding-right: 18px;
	background-position:right 0px;
    pointer-events: none;
}